*{
  box-sizing: border-box;
  margin:0;
}

body{
  background-image: url(Graphics/Background.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.topnav{
  position: fixed;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background-color: black;
  z-index: 5;
}

.topnav a{
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 70px;
  margin-right: 2%;
}

#logoimage{
  float: left;
  margin-right: 5px;
  height: 100px;
  width:auto;
}

#Projects{
  border:3px solid black;
  transition: border-bottom .5s ease;
}

#Projects:hover{
  border-bottom: 3px solid red;
}

#WorkExperiences{
  border: 3px solid black;
  transition: border-bottom .5s ease;
}

#WorkExperiences:hover{
  border-bottom: 3px solid red;
}

.topnav .icon{
  display: none;
}

@media screen and (max-width: 1100px){
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

#Profile{
  float: left;
  position: relative;
  border-left: 3px solid red;
  width: 90%;
  left:5%;
  margin-top: 150px;
  padding: 75px;
  background-color: black;
  transition: transform .5s, box-shadow .5s;
}

.Profile.responsive{
  transform: scale(1.01);
  box-shadow:20px 20px 50px black;
}

#ProfileSelector{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 1;
  opacity: 0%;
}

.ProfilePhoto{
  display: inline-block;
  margin: 3%;
  width: 400px;
}

.ProfileSummary{
  display: inline-block;
  overflow: hidden;
  margin: 3%;
  width: calc(88% - 404px);
  vertical-align: top;
  color: white;
  font-size: 25px;
}

@media only screen and (max-width:1000px) {
  .ProfilePhoto{
    text-align: center;
    width:94%;
    min-width: 400px;
  }
  .ProfileSummary{
    width: 94%;
    min-width: 400px;
  }
  #Profile{
    width: 100%;
    left: 0%;
    min-width: 576px;
    border: none;
  }
}

.dropdown{
  display: none;
}

.dropdown.responsive{
  display: block;
  position: fixed;
  width:100%;
  margin-top: 120px;
  float: left;
  z-index: 2;
}

.dropdown.responsive a{
  outline: none;
  text-decoration: none;
  width: 100%;
  font-size: 70px;
  padding-left: 25px;
  color: grey;
  background-color: black;
  position: relative;
  display: block;
  text-align: left;
  float: left;
}

.dropdown-erase{
  display: none;
}

.dropdown-erase.responsive{
  display: block;
  background-color: blue;
  position: fixed;
  width: 100%;
  margin-top: 280px;
  height: 100%;
  z-index: 2;
  opacity: 0%;
}
